@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.header {
    font-family: 'Girassol', cursive;
    color: rgb(3, 66, 66);
    text-align: center;
    margin-top: 1rem;
}