@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.main {
    /* border: 1px solid red; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header {
    font-family: 'Girassol', cursive;
    color: rgb(3, 66, 66);
}

.img {
    width: 350px;
    height: 350px;
    border-radius: 20%;
}